@media(max-width: 500px) {
    /* digital CV */
        /* nav */
        .nav-mobi-container {
            flex-direction: column;
            gap: 0px;
            align-items: flex-start;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        .nav-item {
            flex-basis: auto;
            border: none;
            padding: 8px;
        }

        /* thông tin */
        .info-container {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        /* lý lịch */
        .portfolio-mobi-container {
            display: flex;
            flex-direction: column;
        }

        /* chứng chỉ */
        .cer-border {
            height: 0px;
        }
        
        .cer-grid {
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            justify-content: center;
            justify-items: center;
        }
        
        .certificate-database {
            grid-row: 3/4;
            margin-bottom: 0px;
        }
        
        .cer-border {
            grid-column: 1/2;
        }

        .certificate-tabletsize-img {
            width: 70%;
        }

        .certificate-javascript, .certificate-web, .certificate-database {
            border-style: hidden hidden groove hidden;
            border-color: #d6c08d;
            border-width: thin;
            padding-bottom: 30px;
        }

        .mobile-flex {
            align-items: center;
        }

        /* Dự án */
        .project-mobile-container {
            grid-template-columns: auto;
            row-gap: 40px;
        }

        .project-mobile-flex {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }

        .project-container-maxwidth, .project-container-maxwidth img, .maxwidth, .table {
            max-width: 500px;
            width: 460px;
            height: auto;
        }



    /*project charter */
    .project-charter-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
        height: 100%;
    }
    .timeline {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}


.hide {
    display: none;
}